/*
* The CSS box-sizing property allows us to include the padding and border
* in an element's total width and height. We use universal selector to apply
* this rule to all elements.
* And to choose font family.
*/

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

#introduce {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2f4f4f;  /* DarkSlateGray */
  padding-top: 100px;
}

.image-container {
  width: 300px;
  height: 450px;
  margin: 0;
}

.image-container figcaption {
  padding-top: 10px;
  color: #f2f2f2;
  text-align: left;
}

#img-author {
  display: block;
  max-width: 300px;
  height: auto;
  margin-left: auto;
}

.list-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  background-color: #2f4f4f;  /*  DarkSlateGray */
  color: #f2f2f2;
  font-size: 20px;
  width: 50%;
  height: 500px;
  padding: 0 0 0 150px;
}

/* Description list*/

dl {
  margin: 0;
}

dt {
  margin-top: 15px;
  text-decoration:underline;
  text-decoration-color: #d2691c;
  text-decoration-style: double;
}

 dd {
   margin-top: 10px;
   margin-left: 40px;
   line-height: 1.5;
 }

/* Google icons */
 .material-icons {
   color: #f2f2f2;
   margin-left: 10px;
 }

 @media screen and (min-width: 801px) and (max-width: 1120px) {

   #introduce {
     padding-top: 50px;
   }

   .list-container {
     font-size: 18px;
     padding: 0 0 0 50px;
   }
 }

 @media screen and (max-width: 800px) {
 
   #introduce {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 70px 0;
   }

   .image-container {
     margin-left: auto;
     margin-right: auto;
   }

   dd {
     margin-top: 10px;
     margin-left: 0;
   }
 }

@media screen  and (min-width: 600px) and (max-width: 800px){
  .list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 70px 0 70px;
  }

  dt {
    margin-top: 15px;
    text-decoration:underline;
    text-decoration-color: #d2691c;
    text-decoration-style: double;
  }
}

@media screen  and (max-width: 599px){
  .list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 0 20px;
  }

  dt {
    margin-top: 15px;
    text-decoration:underline;
    text-decoration-color: #d2691c;
    text-decoration-style: double;
  }
}
